<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
      .dsa {
        border: 1px solid black;
        width: 101px;
        height: 101px;
        display: inline-block;
        margin-right: 30px;
      }

      .var {
          visibility: hidden;
          width: 99px;
          height: 99px;
      }
  </style>
  <body>
      <div id="tema" class="container">
            <div v-on:click="click" v-for="square in squares.slice(0,4)" class="mt-2 dsa">
                    <div :style="{ 'background-color': square }" class="var"></div>
            </div> 
            <br>
            <div v-on:click="click" v-for="square in squares.slice(4,8)" class="mt-2 dsa">
                    <div :style="{ 'background-color': square }" class="var"></div>
                </div>
                <br>
            <div v-on:click="click" v-for="square in squares.slice(8,12)" class="mt-2 dsa">
                    <div :style="{ 'background-color': square }" class="var"></div>
            </div>
            <br>
            <div v-on:click="click" v-for="square in squares.slice(12,16)" class="mt-2 dsa">
                    <div :style="{ 'background-color': square }" class="var"></div>
        </div> 
        </div>
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>